.my-content section {
  background-color: #f5f5f5;
  height: 600px;
}

.header { /*copy from bootstrap website, color is changed*/
    height: 289px;
    width: 100%;
    background: rgb(0, 49, 0) linear-gradient(rgb(0, 50, 0) 0px, rgb(0, 90, 78) 100%) ;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    font: normal normal normal normal 24px / 34.2857px "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*A versatile way to align text in the middle of div*/
.header_box{
	height: 289px;
	font-size: 36px;
	line-height: 280px;
	text-align: center;
    overflow: hidden;

}

.header_box p{

	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}



.no-margin {

	margin: 0px;
}
.no-padding {
	padding: 0px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.sticker {
width: 180px;
height: 180px;
right:40px;
}

/*
.example-1 .sticker-img {
            background-image: url(../image/me.jpg);

}*/


#DIV_1 {
    color: rgb(87, 83, 75);
    display: inline-block;
    height: 220px;
    text-align: left;
    width: 864px;
    column-rule-color: rgb(87, 83, 75);
    perspective-origin: 432px 112.5px;
    transform-origin: 432px 112.5px;
    border: 0px none rgb(87, 83, 75);
    font: normal normal normal normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(87, 83, 75) none 0px;
    padding: 5px 0px 0px;
}/*#DIV_1*/

#DIV_2 {
    bottom: 0px;
    color: rgb(87, 83, 75);
    float: left;
    height: 210px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 250.547px;
    column-rule-color: rgb(87, 83, 75);
    perspective-origin: 138.766px 110px;
    transform-origin: 138.766px 110px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(87, 83, 75);
    border-right: 0px none rgb(87, 83, 75);
    border-bottom: 0px none rgb(87, 83, 75);
    border-left: 1px solid rgb(255, 255, 255);
    font: normal normal normal normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(87, 83, 75) none 0px;
    padding: 5px 13px;
}/*#DIV_2*/

#A_3, #A_14, #A_25 {
    background-position: 0px 0px;
    bottom: 0px;
    color: rgb(87, 83, 75);
    display: block;
    height: 220px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-indent: -9999px;
    top: 0px;
    width: 276.547px;
    column-rule-color: rgb(87, 83, 75);
    perspective-origin: 138.266px 110px;
    transform-origin: 138.266px 110px;
    background: rgba(0, 0, 0, 0) url("https://www.ohio.edu/common/css/base2014/images/transparent.png") repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(87, 83, 75);
    font: normal normal normal normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(87, 83, 75) none 0px;
}/*#A_3, #A_14, #A_25*/

#SPAN_4, #SPAN_15, #SPAN_26 {
    color: rgb(87, 83, 75);
    text-align: left;
    text-transform: uppercase;
    column-rule-color: rgb(87, 83, 75);
    border: 0px none rgb(87, 83, 75);
    font: normal normal bold normal 17px / normal Galliard;
    outline: rgb(87, 83, 75) none 0px;
}/*#SPAN_4, #SPAN_15, #SPAN_26*/

#BR_5, #BR_7, #SPAN_9, #BR_16, #BR_18, #SPAN_20, #BR_27, #BR_29, #SPAN_31 {
    color: rgb(87, 83, 75);
    text-align: left;
    column-rule-color: rgb(87, 83, 75);
    border: 0px none rgb(87, 83, 75);
    font: normal normal normal normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(87, 83, 75) none 0px;
}/*#BR_5, #BR_7, #SPAN_9, #BR_16, #BR_18, #SPAN_20, #BR_27, #BR_29, #SPAN_31*/

#SPAN_6, #SPAN_17, #SPAN_28 {
    color: rgb(87, 83, 75);
    text-align: left;
    column-rule-color: rgb(87, 83, 75);
    border: 0px none rgb(87, 83, 75);
    font: normal normal bold normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(87, 83, 75) none 0px;
}/*#SPAN_6, #SPAN_17, #SPAN_28*/

#DIV_8, #DIV_19, #DIV_30 {
    color: rgb(87, 83, 75);
    text-align: left;
    width: 35px;
    column-rule-color: rgb(87, 83, 75);
    perspective-origin: 17.5px 1px;
    transform-origin: 17.5px 1px;
    border-top: 0px none rgb(87, 83, 75);
    border-right: 0px none rgb(87, 83, 75);
    border-bottom: 2px solid rgb(87, 83, 75);
    border-left: 0px none rgb(87, 83, 75);
    font: normal normal normal normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 10px 0px;
    outline: rgb(87, 83, 75) none 0px;
}/*#DIV_8, #DIV_19, #DIV_30*/

#A_10 {
    color: rgb(192, 20, 60);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(192, 20, 60);
    border: 0px none rgb(192, 20, 60);
    font: normal normal bold normal 14px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(192, 20, 60) none 0px;
}/*#A_10*/

#P_11, #P_22, #P_33 {
    color: rgb(87, 83, 75);
    height: 34px;
    text-align: left;
    width: 250.547px;
    column-rule-color: rgb(87, 83, 75);
    perspective-origin: 125.266px 17px;
    transform-origin: 125.266px 17px;
    border: 0px none rgb(87, 83, 75);
    font: normal normal normal normal 14px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 6px 0px;
    outline: rgb(87, 83, 75) none 0px;
}/*#P_11, #P_22, #P_33*/

#SPAN_12 {
    bottom: 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 14px;
    left: 13px;
    position: absolute;
    right: 25.0781px;
    text-align: right;
    text-transform: uppercase;
    top: 200px;
    width: 218.469px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 119.234px 10px;
    transform-origin: 119.234px 10px;
    background: rgb(192, 20, 60) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 10px;
}/*#SPAN_12*/

#DIV_13, #DIV_24 {
    bottom: 0px;
    color: rgb(87, 83, 75);
    float: left;
    height: 210px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 250.547px;
    column-rule-color: rgb(87, 83, 75);
    perspective-origin: 138.766px 110px;
    transform-origin: 138.766px 110px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(87, 83, 75);
    border-right: 0px none rgb(87, 83, 75);
    border-bottom: 0px none rgb(87, 83, 75);
    border-left: 1px solid rgb(221, 221, 221);
    font: normal normal normal normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(87, 83, 75) none 0px;
    padding: 5px 13px;
}/*#DIV_13, #DIV_24*/

#A_21 {
    color: rgb(0, 105, 78);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(0, 105, 78);
    border: 0px none rgb(0, 105, 78);
    font: normal normal bold normal 14px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(0, 105, 78) none 0px;
}/*#A_21*/

#SPAN_23 {
    bottom: 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 14px;
    left: 13px;
    position: absolute;
    right: 25.0781px;
    text-align: right;
    text-transform: uppercase;
    top: 200px;
    width: 218.469px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 119.234px 10px;
    transform-origin: 119.234px 10px;
    background: rgb(0, 105, 78) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 10px;
}/*#SPAN_23*/

#A_32 {
    color: rgb(239, 130, 0);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(239, 130, 0);
    border: 0px none rgb(239, 130, 0);
    font: normal normal bold normal 14px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(239, 130, 0) none 0px;
}/*#A_32*/

#SPAN_34 {
    bottom: 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 14px;
    left: 13px;
    position: absolute;
    right: 25.0781px;
    text-align: right;
    text-transform: uppercase;
    top: 200px;
    width: 218.469px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 119.234px 10px;
    transform-origin: 119.234px 10px;
    background: rgb(239, 130, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px / normal Frutiger, "Trebuchet MS", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 10px;
}/*#SPAN_34*/












body {
  margin: 10pt;
  font-family: "Frutiger", "Verdana Bold", sans-serif;
  font-size:20px;
}

a:link {
  color: #003100;
}

a:visited {
  color: #003100;
}

a:hover {
  color: #003100;
  text-decoration: none;
}

a.plain:link {
  text-decoration: none;
}

a.plain:visited {
  text-decoration: none;
}

a.plain:hover {
  text-decoration: none;
}

a.nav:link {
  color: #ffffff;
  text-decoration: none;
}

a.nav:visited {
  color: #ffffff;
  text-decoration: none;
}

a.nav:hover {
  color: #ffffff;
  text-decoration: none;
}



.copyright {
font-size: x-small;
}