<div class="container-fluid container">
<div class="row ">
  <div class="col-xs-12  col-md-8 header_box">

    <p class="animated bounce ">
    
    {{page.one_sentence}}
    </p>



  </div>
  <div class=" col-md-4 header_box  hidden-xs"> 

    
    <div class="sticker example-1 vcenter  sticker-img" ></div>




  </div>


</div>
<style>

.example-1 .sticker-img {
            background-image: url(/image/{{page.header_image}});
            background-size: 180px 180px;



}
</style>
<script type="text/javascript" src="/js/sticker.js"></script>
<script>

Sticker.init('.sticker');

</script>

</div>