<div class="container">
<div class="row ">
  <div class="col-xs-8  header_box">

    <!-- <p class="text-center one_sentence "> -->
    <p>
    {{page.one_sentence}}
    </p>



  </div>
  <div class="col-xs-4 header_box">

    
    <div class="sticker example-1 vcenter"></div>




  </div>


</div>
<style>

.example-1 .sticker-img {
            background-image: url(/image/{{page.header_image}});

}
</style>
<script type="text/javascript" src="http://stickerjs.cmiscm.com/js/sticker.min.js"></script>
<script>

Sticker.init('.sticker');

</script>

</div>