<!DOCTYPE html>
<html>


	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width,initial-scale=1.0'>
		<title>{{ page.title }}</title>
		
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/liyc.css">

	</head>


	<body>

		<!-- This is the navigation bar, please make it simple and clear -->
		<div class="navigation_bar">

			{%include nav_bar.html %}



		</div> 


		<!-- This is the header, please add some figures to make it beatiful -->
		<div class="header">
			{% if page.header_keywords_abstract == true %}
				{%include post_header.html %}
			{% else %}
				{%include simple_header.html %}
			{% endif %}

		</div>



		<!-- This is the main article, we will use markdown to post content -->
		<div class="article_main_content">
		
		{{ content }}
		
		</div>


		<!-- This is the side bar; mainly for readers to keep track our content -->
		<div class="side_bar">

			{%include header.html %}

		</div>

		<!-- This is the footer; Put your contact and license here -->
		<div class="footer">

			{%include footer.html %}

		</div>

		<script type="text/javascript" src="/js/jquery2.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>

	</body>
</html>